.nav{
    padding: 30px 0;
    position: fixed;
    top: 0;
    width: 100%;
    background: #0e1624;
    z-index: 1;
}

.nav-items{
    width: 1340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}

.nav-list{
    list-style: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    flex-direction: row;
    padding-left: 0;

}


.nav-item{
    cursor: pointer;
    margin-right: 25px;
}

.nav-item:hover{
    color: #FFFFFF;
}

.nav-item a{
    text-decoration: none;
    color: #FFFFFF;
}

.nav-item a:hover{
    color: rgb(221 169 172);
}

.nav-item a:focus{
    color: rgb(221 169 172);
}



